    .modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: rgba(128, 128, 128, 0.199) solid 1px;
        width: 60vw;
        min-height: 50vh;
        background-image: linear-gradient(
        -45deg,
        rgba(201, 67, 228, 0.089),
        rgba(223, 138, 138, 0.267)
        );
        border-radius: 5px;
        backdrop-filter: blur(5px) brightness(10%);
        z-index: 1000;
    }
    #declaration{
        display: block;
        font-size: 1.3vw;
        margin: 1vw auto;
        border-radius: 10px;
        padding: 1vw;
        text-align: center;
        color: white;
        background-color: rgba(255, 192, 203, 0.548);
    }
    .modal img {
        position: fixed;
        top: 0;
        right: 0;
        cursor: pointer;
        margin: 1vw;
    }
    .modal .splitBoxes {
        width: 60vw;
        min-height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: black solid; */
    }
    .modal .splitBoxes .splitBox_uno {
        padding: 3vw;
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        width: 30vw;
        min-height: 30vh;
        /* border: black solid; */
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        margin-right: 1vw;
        margin-bottom: 1vw;
    }
    .modal .splitBoxes .splitBox_uno .imgContainerDraggables {
        border: rgba(0, 0, 0, 0.096) solid 1px;
        width: 6vw;
        height: 6vw;
        border-radius: 10px;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 1vw;
        cursor: move;
    }
    .modal .splitBoxes .splitBox_uno .imgContainerDraggables p {
        visibility: hidden;
    }
    .modal .splitBoxes .splitBox_dous {
        position: relative;
        width: 25vw;
        height: 30vh;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        margin-bottom: 1vw;
        /* border: black solid; */
    }
    .modal .splitBoxes .splitBox_dous .validator {
        user-select: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 7vw;
        height: 7vw;
        border: rgba(0, 0, 0, 0.295) dashed 0.3vw;
        border-radius: 10px;
    }
    .modal .splitBoxes .splitBox_dous .validator div {
        visibility: hidden;
    }
    .dragged {
        opacity: 0.001;
    }