.__te_onlineBanking__Footer{
    padding: 2.5vw 5vw;
}
.__te_onlineBanking__Footer a{
    color: white;
    text-decoration: none;
    font-size: 1.1vw;
    font-weight: 600;
}
.__te_onlineBanking__Footer img{
    max-width: 1.2vw;
}